html, body {
  height: 100%;
  width: 100%;
}

#curious_pusheen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("/static/img/pusheen_food.gif") 50% 50% no-repeat rgb(253,241,229);
}

#map {
  height: 500px;
}

#map-box {
  padding: 0 15px 15px 15px;
}

#list {
  height: 500px;
  overflow: scroll;
}

#result-header {
  text-align: center;
}

.open_status {
  text-align: right;
  font-style: italic;
  margin-bottom: 0;
  margin-top: 5px;
}

#wait_info {
  display: inline-block;
  margin: 5px;
}

#yelp_info {
  display: inline-block;
  text-align: right;
  float: right;
  padding-top: 25px;
}

#quoted_wait {
  font-size: 30px;
  font-weight: bold;
}

.wait_box {
  padding-right: 5px;
  border-right: 1px solid gray;
}

.wait_details {
  display: inline-block;
  text-align: center;
}

.wait_details > p {
  font-weight: 700;
}

.wait_value {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
}

.result {
  padding: 0 10px 10px 10px;
  border: 2px solid #F0F0F0;
  border-radius: 5px;
  margin-bottom: 10px;
}

#search-header {
  text-align: center;
  font-family: Raleway, sans-serif;
  font-weight: 700;
}

.center {
  text-align: center;
  }

#search-form {
  vertical-align: top;
}

.btn-group-vertical {
  vertical-align: top;
}

#restaurant_name {
  font-weight: bold;
  margin-top: 10px;
}

.highlight {
  color: #e79c0c;
}

#address {
  margin-bottom: 5px;
}
