html, body {
  height: 100%;
  width: 100%;
}

body {
    padding-top: 50px;
}

#map {
  height: 600px;
  width: 650px;
}

#restaurant_name {
    text-align: center;
}

#address {
    text-align: center;
}


.center {
   text-align: center;
   margin: auto;
  }

.fixed {
    position: fixed;
}

.relative {
    position: absolute;
    margin-top: 200px;
}