html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Raleway, sans-serif;
}

.header-text{
  font-weight: 700;
}

.light-text{
  font-weight: 400;
}

#hungry_pusheen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("/static/img/pusheen_eat.gif") 50% 50% no-repeat rgb(253,241,229);
  display: none;
}

.center-block {
  position: absolute;
  text-align: center;
  bottom: 45%;
  margin: auto;
}

#home-header {
  padding-bottom: 20px;
  color: #FFFFFF;
}

#flash {
  padding-top: 70px;
  text-align: center;
  font-size: 20px;
  color: #FFFFFF;
  font-style: italic;
}

#report-header {
  padding-bottom: 50px;
  text-align: center;
}

#logo {
  margin: 5px;
}

.navbar-brand {
  padding: 0;
}

.navbar {
  background-color: #e73f3f;
  border-bottom: 1px solid #c31502;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}

.btn-primary {
  color: #FFFFFF;
  background-color: #e73f3f;
  border-color: #c31502;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #FFFFFF;
  background-color: #c31502;
  border-color: #c31502;
}
