{% extends 'base.html' %}
{% block head %}

  <title>What's the Wait Time?</title>
  <link rel="stylesheet" href="/static/css/home.css">

  <style>
    #pusheen {
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background: url("/static/img/pusheen_eat.gif") 50% 50% no-repeat rgb(253,241,229);
      display: none;
    }
  </style>

{% endblock %}


{% block body %}
  <!-- SEARCH FORM -->

  <!-- Container-fluid to span the whole page -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 center-block">
        <h1 id="header">What's the wait time?</h1>

        <form id="search-form" class="form-inline" action="/search" method="GET">
          
          <div class="input-group form-group">
            <span class="input-group-addon" id="for-restaurant">For:</span>
            <input type="text" class="form-control" id="keyword-input" name="keyword" 
              placeholder="Restaurant or Food" aria-describedby="for-restaurant" required>
          </div>

          <div class="input-group form-group">
            <span class="input-group-addon" id="near-location">Near:</span>
            <input type="text" class="form-control" id="location-input" name="location" 
              placeholder="Location (default: SF)" aria-describedby="near-location">
          </div>

          <button id="search-button" type="submit" class="btn btn-info">Let's see!</button>
        </form>
      </div> <!-- center-block -->
    </div> <!-- row -->
  </div> <!-- container-fluid -->


  <script>
    function pageLoader(evt) {
      evt.preventDefault();

      console.log("HERE");
      $("#pusheen").show();

      $(this).unbind('submit').submit();
    }

    $("#search-form").submit(pageLoader);
  </script>


{% endblock %}