{% extends 'base.html' %}
{% block head %}

  <title>What's the Wait Time?</title>

{% endblock %}


{% block body %}

  <h1>What's the wait time?</h1>

  <form action="/search" method="GET">
    For: <input type="text" name="keyword" placeholder="Restaurant or Food" required> &nbsp;
    Near: <input type="text" name="location" placeholder="Location (default: SF)">
    <input type="submit" value="Let's see!">
    <br>
    <br>
    <input type="checkbox" name="sort_by" value="wait_time">Sort by shortest wait time
  </form>

{% endblock %}